// TMP styles à redistribuer

.section {
}

.section__header {
	font-weight: 400;
	font-size: var(--step-3);
	color: var(--color-ink);
}

.hero-image {
	display: block;
	// width: 1280px;
	width: 100%;
	background-color: var(--color-primary);
	aspect-ratio: 3/1;
	margin-inline: auto;
}
