// Banner
// Bandeaux

.banner-support {
	--cluster-v-alignment: center;

	&_title {
		font-size: var(--step-4);
	}

	&_desc {
		font-size: var(--step-2);
		margin-left: auto;
		margin-right: auto;
		max-width: 50ch;
	}
}
