// card

@use "../abstract/variables_colors" as colors;
@use "sass:map";
// @use "sass:color";

.card {
	// --flow-space: var(--space-s-m);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: transform 0.5s cubic-bezier(0.5, 0.05, 0.2, 1.5);

	&::before {
		background-color: map.get(colors.$green, 90);
		content: "";
		display: block;
		height: 2px;
		width: 25%;
		margin-bottom: var(--space-m);
		transition: background-color 0.25s ease;
	}

	&:hover {
		transform: translateY(-0.2em) scale(1.01);

		&::before {
			background-color: var(--color-primary);
		}
	}
}

.card_media {
	margin-bottom: var(--space-s-m);

	img {
		aspect-ratio: 2/1;
		object-fit: cover;
		margin-inline: auto;
		width: 100%;
	}
}

.card_content {
	--flow-space: var(--space-s-m);
	a {
		color: var(--color-link);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.card_header {
	& h2 {
		font-size: var(--step-2);
	}

	& p {
		margin-top: var(--space-s);
	}

	& p:first-child {
		font-size: var(--step--1);
		text-transform: uppercase;
		margin-bottom: var(--space-xs);
		margin-top: 0;
	}
}

// .card_desc {}

.card_button-more {
	margin-left: -8px;
}

.card[data-type="support"] {
	background-color: map.get(colors.$green, 90);
	padding: 6px;

	&:nth-child(1) {
		background-color: map.get(colors.$blue, 60);
	}

	&:nth-child(2) {
		background-color: map.get(colors.$blue, 70);
	}

	&:nth-child(3) {
		background-color: map.get(colors.$blue, 80);
	}

	&::before {
		display: none;
	}

	& .card_content {
		padding: 0 var(--space-s);
		margin-top: var(--space-s);
	}

	& .card_media + .card_content {
		margin-top: 0;
	}
}
