.icon {
	height: var(--icon-size, 1em);
	width: var(--icon-size, 1em);
}

.icon-download {
	stroke: currentColor;
	// margin-top: -0.25em;
}

// .icon-burger {
// 	--btn-svg-width: 2em;
// 	--btn-svg-height: 2em;
// 	fill: none;
// 	stroke: var(--color-primary);
// }
