// Pod (sections)

@use "../abstract/variables_colors" as colors;
@use "sass:map";
// @use "sass:color";

.pod {
	&--banner {
		background-color: map.get(colors.$green, 70);
		color: var(--color-paper);
		padding: var(--space-l-xl);
	}

	&--sticky {
		position: sticky;
		top: var(--space-l);
		align-self: start;
	}
}
