// Site-header

@use "../tools/mq" as mq;
@use "../abstract/variables_colors" as colors;
@use "sass:map";
// @use "sass:color";

.site-header {
	padding-top: var(--space-s);
}

.site-header__container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: var(--gutter);

	&::after {
		background-color: map.get(colors.$green, 90);
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		margin-top: var(--space-s-m);
	}
}

.site-header__brand {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
}

.site-header__logo {
	display: inline-block;
	padding: 0;

	& svg {
		width: 80px;

		& g {
			fill: var(--color-primary);
		}
	}
}

// .site-header_nav {}

@include mq.mq($from: m) {
	.site-header__logo svg {
		width: 96px;
	}
}
