// Site-header

@use "../tools/mq" as mq;

.site-header {
	margin-top: var(--space-s);
}

.site-header_brand {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
}

.site-header_logo {
	display: inline-block;
	padding: 0;
	margin-inline: auto;

	& svg {
		width: 80px;
	}
}

.site-header_baseline {
	font-size: var(--step--1);
	font-weight: 600;
	margin-top: var(--space-s);
}

@include mq.mq($from: m) {
	.site-header_logo svg {
		width: 100px;
	}
}
