// Site-header

@use "../tools/mq" as mq;
@use "../abstract/variables_colors" as colors;
@use "sass:map";

.site-header {
	padding-top: var(--space-s);
}

.site-header__container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: var(--gutter);

	&::after {
		background-color: map.get(colors.$green, 90);
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		margin-top: var(--space-s-m);
	}
}

.site-header__logo {
	& svg {
		width: 80px;

		@include mq.mq($from: m) {
			width: 96px;
		}
	}
}

// .site-header_nav {}
