// @use "../settings";

body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	background-color: var(--color-paper);
	color: var(--color-ink);
	font: 400 var(--step-0) / 1.4 var(--font-family-mono);
}
