@use "../abstract/variables_colors" as colors;
@use "sass:map";
@use "sass:color";

.button {
	-webkit-appearance: button; // Safari otherwise prevents some styles
	appearance: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: var(--border-radius-base, 0);
	cursor: pointer;
	font-weight: 600;
	line-height: 1 !important;
	margin: 0; // Firefox and Safari have margin
	min-height: 44px;
	padding: 0.25em 0.75em;
	overflow: visible; // Edge hides overflow
	position: relative;
	text-transform: none; // Firefox inherits text-transform
	text-decoration: none;
	white-space: nowrap;

	& svg {
		width: var(--icon-size, 1em);
		height: var(--icon-size, 1em);
		fill: currentColor;
		// transform: translateY(-0.2ex);
	}

	&[data-type="primary"] {
		background-color: var(--color-contrast);
		color: var(--color-link-contrast);
		border-radius: 4px;
		padding: 0.5em 0.5em;

		&:hover {
			box-shadow: 0px 5px 5px -3px color.adjust(map.get(colors.$green, 80), $alpha:
							-0.9),
				0px 8px 8px 1px
					color.adjust(map.get(colors.$green, 80), $alpha: -0.8),
				0px 3px 8px 2px
					color.adjust(map.get(colors.$green, 80), $alpha: -0.8);
			transition: transform 0.2s linear, box-shadow 0.2s linear,
				background-color 0.3s ease;
		}
	}

	&[data-type="secondary"] {
		background-color: var(--color-paper);
		color: var(--color-link);

		&:hover {
			box-shadow: 0px 5px 5px -3px color.adjust(map.get(colors.$blue, 90), $alpha:
							-0.9),
				0px 8px 8px 1px
					color.adjust(map.get(colors.$blue, 90), $alpha: -0.8),
				0px 3px 8px 2px
					color.adjust(map.get(colors.$blue, 90), $alpha: -0.8);
			transition: transform 0.2s linear, box-shadow 0.2s linear,
				background-color 0.3s ease;
		}
	}

	&[data-type="secondary-reversed"] {
		background-color: transparent;
		color: var(--color-paper);

		&:hover {
			background-color: var(--color-paper);
			color: var(--color-link);
			box-shadow: 0px 5px 5px -3px color.adjust(map.get(colors.$blue, 90), $alpha:
							-0.9),
				0px 8px 8px 1px
					color.adjust(map.get(colors.$blue, 90), $alpha: -0.8),
				0px 3px 8px 2px
					color.adjust(map.get(colors.$blue, 90), $alpha: -0.8);
			transition: transform 0.2s linear, box-shadow 0.2s linear,
				color 0.3s ease, background-color 0.3s ease;
		}
	}

	&[data-type="link"] {
		background-color: transparent;
		color: var(--color-link);
		padding: 0.5em 0.5em;
	}

	&[data-type="link-reversed"] {
		background-color: transparent;
		color: var(--color-paper);

		&:hover {
			background-color: var(--color-paper);
			color: var(--color-primary);
		}
	}

	&.with-icon-left {
		// align-items: flex-end;
		& svg {
			margin-right: 0.5em;
		}
	}

	&.with-icon-right {
		// align-items: flex-end;
		& svg {
			margin-left: 0.5em;
		}
	}
}

// label
.button_label {
	span {
		font-size: var(--step--2);
		transition: color 0.3s ease;
	}
}
