// Couleurs

$color-black: hsl(0, 0%, 0%);
$color-green: hsl(90, 100%, 61%);
$color-yellow: hsl(59, 90%, 50%);
$color-white: hsl(255, 100%, 100%);
$color-ink: $color-white;
$color-light: $color-white;
$color-paper: $color-black;
$color-primary: $color-green;
